.filter-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 1rem;
}

.filter-bar::after {
  content: "\25BC";
  position: absolute;
  background: #ff893b;
  pointer-events: none;
  display: flex;
  justify-content: center;
  width: 1.5rem;
  padding: 1rem;
  right: 0;
  transition: all 0.3s ease;
}

.filter-bar:hover::after {
  background: white;
  color: #ff893b;
}

select {
  outline: none;
  border: none;
}

select {
  color: #fda66b;
  font-weight: bold;
  cursor: pointer;
  width: 20rem;
  padding: 0.5rem;
  font-size: 2rem;
}
