header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-height: 20vh;
}

.user-input {
  display: flex;
  align-items: center;
  justify-content: center;
}