.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1rem;
}

.task-form input, .task-form button {
  border: none;
  background: white;
  outline: none;
  padding: 0.5rem;
  font-size: 2rem;
}

.task-form button {
  color: #ff893b;
  background: white;
  cursor: pointer;
  width: 3.5rem;
  transition: all 0.3s ease;
}

.task-form button:hover {
  background: #ff893b;
  color: white;
}