.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.login-form input, .login-form button {
  border: none;
  background: white;
  outline: none;
  padding: 0.5rem;
  font-size: 2rem;
  margin: 1vh;
}

.login-form button {
  color: #ff893b;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-form button:hover {
  background: #ff893b;
  color: white;
}

.error-message {
  color: red;
}
